<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637340281559-vagdth321minnsulrggdptmnjov6oer8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637340281559-vagdth321minnsulrggdptmnjov6oer8</string>
	<key>API_KEY</key>
	<string>AIzaSyAnpQSvDk3-WUaspbpR_4os6ESWVLXOdW8</string>
	<key>GCM_SENDER_ID</key>
	<string>637340281559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hietalajulius.ObjectDetection-CoreML-2023</string>
	<key>PROJECT_ID</key>
	<string>test-97daf</string>
	<key>STORAGE_BUCKET</key>
	<string>test-97daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637340281559:ios:937ae378063104e0025e92</string>
</dict>
</plist>